*{
	margin: 0px;
	padding: 0px;
}
body {
	/* background-color: #091a3d;
	background-color: #212760; */
	background-color: #161a42;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}
/* Java Script */
.day{
	background-color: white;
	color: #161a42;
}
.page{
	display: grid;
	align-items: center;
	grid-template-columns:repeat(14,1fr);
	grid-template-rows:70px 500px 500px 500px 1000px 400px ;
}
/*         Header       */
header{
	background-color: #161a42;
	grid-area:  1 / 1 /2 / 15;
	box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
	padding-left: 70px;
	padding-right: 40px;
	display: grid;
	grid-template-columns: 7%  26% 1fr 22%;
	grid-template-rows:70px;
	grid-template-areas: "logo nav . side";
	align-items: center;
}
.menue{
	width: 20px;
	display: none;
}
img[title="logo"]{
	width: 80px;
	grid-area: logo;
}
img[title="sun"]{
	width: 32px;
	height: 32px;
	border-right: 1px solid white;
	padding-right:15px;
}
img[title="profile picture"]{
	width: 32px;
	height: 32px;
}
nav{
	grid-area: nav;
	font-weight: 500;
	font-size: 15px;
	color: rgb(209 213 219);
}
nav ul{
	display: flex;
	justify-content: space-evenly;
}
nav ul li{
	list-style-type: none;
}
.setting{
	grid-area: side;
	display: flex;
}
.profile{
	display: flex;
	margin-left: 25px;
}
.profile__name{
	color: wheat;
	margin-left: 15px;
	font-size: 15px;
}
.profile__caption{
	color: gray;
}
/*            main        */
.main{
	grid-area:  2 / 3 /3 / 9;
}
.main__title{
	font-size: 49px;
	font-weight: 600;
	line-height: 45px;
}
.main__caption{
	margin: 20px 0px 50px 0px;
	font-size: 18px;
}

.main__button button{
	font-size: 17px;
	padding: 15px 30px;
	border-radius: 20px;
	color: white;
}
.main__button{
	height: 50px;
	display: flex;
	align-items: center;
}
.main__button button:hover{
	cursor: pointer;
	margin-bottom: 5px;
	box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}
.main__button .btn1{
	margin-right: 20px;
	border: 0px;
	background-image: linear-gradient(180deg,#3d5ffd,#7f55ec);
}
.main__button .btn2{
	background-color: #161a42;
	border: 1px solid white;
}
/*        Check      */
.check{
	grid-area:  3 / 2 /4 / 14;
}
.check__heading{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}.check__title{
	font-size: 30px;
}
.see_more a,.see_all a{
	color:rgb(100 116 139);
}
.see_more img, .see_all img{
	width: 20px;
	vertical-align: text-bottom;
	
}
.check__container{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 20px;
}
/* java script */
.light{
	color:white;
	background-color: #161a42;
}
.dark{
	color:#161a42;
	background-color: white;
}
.check__container .card{
	height: 370px;
	background-image: url("./images/top.7ee710bc.png");
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 10px;
}
.check__container .card__title{
	font-size: 20px;
	font-weight: 600;
}
.check__container .gray_text{
	font-size: 17px;
	font-weight: 500;
}
.check__container .card img{
	display: block;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	outline: 1px solid salmon;
	outline-offset: 7px;
}
.check__container .card button{
	border: 0px;
	background-image: linear-gradient(180deg,#3d5ffd,#7f55ec);
	padding: 10px 20px;
	border-radius: 20px;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*        Create      */
.create{
	grid-area:  4 / 2 /5 / 14;
}
.create__container{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 40px;
}
.create__title{
	font-size: 37px;
	margin-bottom: 70px;
}
.create__container .card img{
	width: 40px;
	margin-bottom: 20px;
}
.create__container .card .card__title{
	font-size: 18px;
	margin-bottom: 10px;
}
.gray_text{
	color:rgb(100 116 139);
}

/*        Explore      */
.explore{
	grid-area:  5 / 2 /6 / 14;
}
.explore img[alt="arrow"]{
	width: 15px;
	vertical-align: text-bottom;
}
.explore__title{
	font-size: 37px;
	margin-bottom: 50px;
}
.explore__nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
.explore__nav--right{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.default_box{
	color: white;
	display: flex;
	justify-content: space-between;
	width: 200px;
	padding: 7px 15px;
	border: 1px solid #eee;
	border-radius: 10px;
	background-color: #20255c;
	margin-bottom: 20px;
}
.explore__nav--left{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
}

.explore__nav--left button{
	padding: 10px 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	color: gainsboro;
	background-color: #161a42;
	border: 1px solid gainsboro;
}
.explore__nav--left button:hover{
	background-color: #ff457d;
	border-color: #ff457d;
}
button.btn--pink{
	padding: 10px 20px;
	background-color: #ff457d;
	border-color: #ff457d;
}

.explore__container{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 20px;
}
.explore__container .card{
	background-color: #161a42;
	color: white;
	padding:  7px 15px;
	height: 484px;
	border-radius: 20px;
	box-shadow: 0 0 4px 2px #0000005e;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.explore__container .card>img{
	width: 100%;
	border-radius: 10px;
}

.explore__container .card .box1{
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
}
.explore__container .card .box1 img{
	width: 10px;
	height: 10px;
	padding: 5px;
	border: 1px solid #283d9b;
	border-radius: 50%;
}
.explore__container .card .box2{
	color: #3DB6CE;
}
.explore__container .card .box2 img{
	width: 25px;
}
.explore__container .card .box4{
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.explore__container button{
	width: 130px;
	align-self: center;
	border: 0px;
	background-image: linear-gradient(180deg,#3d5ffd,#7f55ec);
	padding: 10px;
	border-radius: 20px;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*         Footer         */
footer{
	color: white;
	grid-area:  6 / 1 /7 / 15;
	padding-left: 70px;
	padding-right: 70px;
	background-color: #2d3582;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:250px 150px;
}
footer .top{
	display: grid;
	grid-template-columns: 35% 15% repeat(3,calc(50%/3));
	grid-template-rows:1fr;
	grid-template-areas: "rg . explore about term";
	align-items: center;
	border-bottom: 1px solid rgb(94, 94, 94);
}
footer .top .left{
	grid-area: rg;
	font-style: italic;
	font-weight: 200;
}
.title{
	font-weight: 500;
}
footer a{
	text-decoration: none;
	color: rgb(229 231 235);
}
footer a:hover{
	text-decoration: underline;
}
.footer__explore,.footer__about,.footer__terms{
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.footer__explore{
	grid-area: explore;
}
.footer__about{
	grid-area: about;
}
.footer__terms{
	grid-area: term;
}
footer .top img{
	display: block;
}
footer .bottom{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}


@media screen and (max-width: 450px){
	.page{
		text-align: center;
		grid-template-rows: repeat(6,auto);
		gap: 150px 0px;
		
	}
	.profile__name{
		display: none;
	}
	header nav{
		display: none;
	}
	header{
		padding: 0px 15px;
		grid-template-columns: repeat(3,1fr);
		grid-template-areas: "menue logo side";
	}
	.menue{
		grid-area: menue;
		display: block;
	}

	.main{
		grid-area: 2/2/3/14;
	}
	.main__button button{
		font-size: 16px;
		padding: 15px 24px;
	}
	.main__title{
		font-size: 29px;
	}
	.main__caption{
		font-size: 16px;
	}
	.check__heading{
		flex-direction: column;
		align-items: flex-start;
	}
	.check__container{
		grid-template-columns: 1fr;
		/* grid-template-rows: repeat(3,1fr); */
	}
	.create__title{
		text-align: left;
		font-size: 25px;
	}
	.create__container{
		text-align: center;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4,1fr);
	}
	.create__container .card{
		display: flex;
		flex-direction: column;
	}
	.explore__title{
		text-align: left;
		font-size: 20px;
	}
	.explore__nav{
		flex-direction: column;
	}
	.explore__nav--left button{
		margin-right: 5px;
	}

	.explore__nav--right{
		margin-top: 50px;
	}
	.default_box{
		align-self: center;
		width: 80px;
	}
	.explore__container{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5,1fr);
	}
	.explore__container .card{
		height: 600px;
		text-align: left;
	}
	footer{
		height: 600px;
		text-align: left;
		padding:20px 20px 0px 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows:500px 100px;
	}
	footer .top{
		grid-template-rows:repeat(3,1fr);
		grid-template-columns:1fr 1fr;
		grid-template-areas: "rg rg" "explore about" "term .";
	}
	footer .bottom{
		margin: 0;
		flex-direction: column;
		justify-content: space-evenly;
	}
}